@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);

* {

    font-family:Roboto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navbar,
.navbar-inverse,
.navbar-fixed-top {
    z-index:10;
    min-height:45px;
    height:45px;
    background: #8e44ad;
    border:none;
}

#sliding-menu {
    position:fixed;
    z-index:100;
    top:45px;
    height:100%;
    width:300px;
    background:#222;

    transition: all 0.4s ease;
}

#sliding-menu.collapsed {
    width:0;
}

.container.navigation {
    height:45px;
    padding:0;
    position:absolute;
    cursor:pointer;
}

#nav-btn {
    position:absolute;
    display:inline;
    border:none;
    height:32px;
    background: url("../img/ic_navigation_drawer.png");
    background-repeat:no-repeat;
    background-size:20px 16px;
    background-position:0px 5px;

    transition: all 0.4s ease;
}

#nav-btn.collapsed {
    left:-7px;
}

.navbar-brand#username {
    font-size:18px;
    font-family:Roboto;
    font-weight:300;
    color:white;
    margin-left:5px;
    margin-top:-3px;
}


/*=shadow stuff for navigation
--------------------*/
.collapsable#shadow {
    position:fixed;
    z-index:1;
    height:100%;
    width:100%;
    visibility:hidden;

    transition: all 0.3s ease;
}

.collapsable#shadow.collapsed {
    background: rgba(0,0,0,0.3);
    visibility:visible;
}

/*=row stuff container > .row.descrip. > .diff , .game-info > .game-title, .round-time
--------------------*/

.row.descrip {
    position:relative;
    color:#aaaaaa;
    background-image:url("../img/ic_action_next_item.png");
    background-size:26px 26px;
    background-repeat:no-repeat;
    background-position:99% 17px;
}

.row.descrip:nth-child(odd) {
    background-color:#f6f6f6;
}

.diff {
    height:60px;
    width:60px;
}

.diff.easy {
    background-color:#2ecc71;
}

.diff.medium {
    background-color:#f1c40f;
}

.diff.hard {
    background-color:#e74c3c;
}

.descrip .game-info {
    position:absolute;
    left:70px;
    top:5px;
}

.descrip .game-title {
    font-size:16px;
    line-height:16px;
    color:#797979;
}

.descrip .player-count {
    position:absolute;
    top:20px;
    font-size:12px;
    line-height:12px;
    color:#aaaaaa;
}

.descrip .game-time {
    position:absolute;
    top:36px;
    font-size:12px;
    line-height:12px;
    color:#aaaaaa;
}


