@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);
/*********************COMMON*************************/
body {
  color: #333333;
  font-family: 'Roboto', sans-serif;
}
a:hover {
  text-decoration: none;
}
/*****************NAV*******************/
.bottom-bar {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 50px;
  background-color: #856fd7;
}
.bottom-statistics {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 50px;
  background-color: #856fd7;
}
.button,
.button-noclick,
.nav-title {
  display: inline-block;
  vertical-align: text-top;
  float: left;
}
.bottom-bar .down:hover {
  background-color: #1a219e !important;
}
.down {
  background-color: #1a219e;
}
.bottom-bar .button:hover {
  background-color: #90a9ec;
  cursor: pointer;
}
.nav-title {
  line-height: 50px;
  font-size: 18px;
  padding-right: 20px;
  color: white;
}
.icon {
  height: 35px;
  margin: 7.5px;
}
.icon-brand {
  margin-left: 15px;
  height: 50px;
}
.navbar,
.navbar-inverse,
.navbar-fixed-top {
  z-index: 10;
  min-height: 50px;
  height: 50px;
  background: #856fd7;
  border: none;
}
/****************HOME********************/
/*=shadow + sliding menu
--------------------*/
.collapsable#shadow {
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 100%;
  visibility: hidden;
  transition: all 0.3s ease;
}
.collapsable#shadow.collapsed {
  /*background: rgba(0,0,0,0.3);*/
  visibility: visible;
}
#sliding-menu {
  position: fixed;
  z-index: 100;
  top: 50px;
  bottom: 0;
  width: 300px;
  background: rgba(30, 30, 30, 0.95);
  overflow: hidden;
  transition: all 0.4s ease;
}
#sliding-menu.collapsed {
  width: 0;
}
#sliding-menu * {
  margin-left: 0px;
  white-space: nowrap;
  transition: all 0.4s ease;
}
#sliding-menu.collapsed * {
  /*margin-left:-100px;*/
}
@media (min-width: 768px) {
  .collapsable#shadow {
    visibility: hidden!important;
  }
  #sliding-menu {
    width: 300px!important;
  }
  #sliding-menu * {
    margin-left: 0px!important;
  }
}
#sliding-menu .prof-pic {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 100px;
  width: 100px;
  border-radius: 4px;
  background: #eeeeee;
}
#sliding-menu .prof-name {
  position: absolute;
  top: 24px;
  left: 120px;
  color: white;
  font-size: 20px;
  font-weight: 300;
  line-height: 20px;
}
#sliding-menu .stat {
  position: absolute;
  left: 120px;
  color: white;
  font-size: 14px;
  font-weight: 300;
  line-height: 14px;
}
.stat#win {
  top: 54px;
}
.stat#loss {
  top: 79px;
}
.line-break {
  position: absolute;
  top: 120px;
  width: 100%;
  height: 1px;
  background-color: rgba(100, 100, 100, 0.5);
}
#options-list {
  position: absolute;
  bottom: 0;
  top: 121px;
  width: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}
#options-list > a {
  display: block;
  height: 60px;
  width: 300px;
  border-bottom: 1px solid rgba(100, 100, 100, 0.3);
  padding-left: 95px;
  padding-top: 23px;
  font-size: 14px;
  line-height: 14px;
  color: white;
  cursor: pointer;
  background-size: 36px 36px;
  background-position: 45px 12px ;
  background-repeat: no-repeat;
}
#options-list > a.active {
  background-color: rgba(255, 255, 255, 0.85);
}
#menu-profile {
  background-image: url("../img/ic_action_person.png");
}
#menu-join-game {
  background-image: url("../img/ic_action_edit.png");
}
#menu-create-game {
  background-image: url("../img/ic_action_new.png");
}
#menu-random-game {
  background-image: url("../img/ic_action_help.png");
}
#menu-settings {
  background-image: url("../img/ic_action_settings.png");
}
/*=action bar
--------------------*/
.container.navigation {
  height: 50px;
  width: auto!important;
  padding: 0;
  position: absolute;
  cursor: pointer;
}
#nav-back {
  position: absolute;
  display: inline;
  border: none;
  height: 32px;
  background: url("../img/ic_action_undo.png");
  background-repeat: no-repeat;
  background-size: 20px 16px;
  background-position: 0px 7px;
  transition: all 0.4s ease;
}
#nav-btn {
  position: absolute;
  display: inline;
  border: none;
  height: 32px;
  background: url("../img/ic_navigation_drawer.png");
  background-repeat: no-repeat;
  background-size: 20px 16px;
  background-position: 0px 7px;
  transition: all 0.4s ease;
}
#nav-btn.collapsed {
  left: -7px;
}
@media (min-width: 768px) {
  #nav-btn {
    left: -7px !important;
  }
}
#navbar-icon {
  margin-left: 15px;
  height: 50px;
  width: 50px;
  background-image: url("../img/action-bar-icon.png");
  background-size: 50px 50px;
  background-repeat: no-repeat;
}
.navbar-brand#username {
  display: block;
  font-size: 18px;
  font-family: Roboto;
  color: white;
  margin-left: 52px;
  margin-top: -52px;
}
/*=row stuff container > .row.descrip. > .diff , .game-info > .game-title, .round-time
--------------------*/
.container#main {
  width: 100%;
}
@media (min-width: 768px) {
  .container#main {
    padding-left: 315px!important;
  }
}
#spinner {
  position: absolute;
  margin-left: 30%;
  top: 100px;
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.row.descrip {
  display: block;
  position: relative;
  color: #aaaaaa;
  background-color: #ffffff;
  background-image: url("../img/ic_action_next_item.png");
  background-size: 26px 26px;
  background-repeat: no-repeat;
  background-position: 99% 27px;
  cursor: pointer;
}
.row.descrip:nth-child(odd) {
  background-color: #ededed;
}
.diff {
  height: 80px;
  width: 80px;
  opacity: 0.5;
}
.diff.easy {
  background-color: #2ecc71;
}
.diff.medium {
  background-color: #f1c40f;
}
.diff.hard {
  background-color: #e74c3c;
}
.descrip .game-info {
  position: absolute;
  left: 92px;
  top: 7px;
}
.descrip .game-title {
  font-size: 19px;
  line-height: 19px;
  color: #5a5a5a;
}
.descrip .player-count {
  position: absolute;
  top: 28px;
  font-size: 14px;
  line-height: 14px;
  color: #aaaaaa;
}
.descrip .game-time {
  position: absolute;
  top: 50px;
  font-size: 14px;
  line-height: 14px;
  color: #aaaaaa;
}
/*****************PLAY********************/
#canvas-wrapper {
  margin: auto;
  position: relative;
}
#canvas-wrapper:before {
  content: "";
  display: block;
  padding-top: 100%;
}
#canvas-content {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background-color: white;
}
#preview-content {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  display: none;
}
#preview {
  width: 100%;
  height: 100%;
}
#play-content-wrapper {
  position: fixed;
  bottom: 0px;
  top: 50px;
  left: 0px;
  right: 0px;
  background-color: #e7e7e7;
}
.pane {
  width: 100%;
}
#stat-pane {
  height: 130px;
  padding: 15px;
  background-color: #fafafa;
}
#stat-container {
  width: 100%;
}
#canvas-pane {
  height: 75%;
  background-color: #e7e7e7;
  position: relative;
}
#timer {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: auto;
}
.player {
  display: block;
  padding-bottom: 8%;
}
.player .name {
  font-size: 18px;
  display: inline-block;
  line-height: 100%;
}
.player .score {
  font-size: 14px;
  display: inline-block;
  color: #838383;
}
#timer-wrapper {
  float: left;
  width: 40%;
  height: 100%;
  display: inline-block;
}
#leaderboard-wrapper {
  display: inline-block;
  vertical-align: top;
}
#the-canvas {
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  width: 300px;
  height: 300px;
}
#countdown-modal {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.75);
  color: #f3f3f3;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: 50px;
}
.modal-wrap {
  display: table;
  width: 100%;
  height: 100%;
}
.modal-stuff {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
#countdown-modal .modal-content {
  font-size: 50px;
  background: none;
  box-shadow: none;
  border: none;
}
#countdown-modal p {
  text-align: center;
}
@media (max-width: 768px) {
  #leaderboard-wrapper {
    height: 100%;
    padding-left: 30px;
  }
  #stat-pane {
    white-space: nowrap;
  }
  .score {
    padding-left: 5px;
  }
  .score:before {
    content: " (";
  }
  .score:after {
    content: ")";
  }
}
@media (min-width: 767px) {
  .player .score {
    display: block;
  }
  #timer {
    display: block;
    margin-bottom: 30px;
  }
  #stat-pane {
    display: inline-block;
    height: 100%;
    width: 20%;
    float: left;
  }
  #canvas-pane {
    display: inline-block;
    height: 100%;
    width: 80%;
    float: left;
  }
  #timer-wrapper {
    width: 100%;
    height: auto;
  }
}
/***************ROUND END*********************/
.content-wrapper {
  position: fixed;
  left: 0px;
  top: 50px;
  right: 0px;
  bottom: 50px;
  overflow-y: auto;
  background-color: #e7e7e7;
}
.card-container {
  padding: 10px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
}
.card {
  background: white;
  padding: 10px;
  width: 46%;
  margin: 2%;
  float: left;
  display: inline-block;
  position: relative;
}
.card img {
  width: 100%;
  height: auto;
}
.card-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 32%;
  padding: 4% 7%;
  color: #818181;
  font-size: 17px;
  background: rgba(245, 245, 245, 0.85);
  overflow: hidden;
}
.card-desc {
  font-size: 13px;
  color: #aaaaaa;
  line-height: 16px;
}
.profile {
  height: 60px;
}
#roundend-bottom-bar {
  font-weight: bold;
}
.bottom-statistics .button {
  height: 50px;
  padding: 7.5px;
}
.bottom-statistics .button:hover {
  background-color: #90a9ec;
  cursor: pointer;
}
.stat-header {
  color: #FAFAFA;
  line-height: 50px;
  font-size: 16px;
  display: inline-block;
  padding-left: 2%;
  padding-right: 2%;
}
@media (min-width: 767px) {
  .card {
    width: 23%;
    margin: 1%;
  }
}
#loading-bar-wrapper {
  width: 20%;
  height: 30px;
  margin-top: 10px;
  margin-right: 2%;
  background-color: #e7e7e7;
  border: 2px solid #e7e7e7;
  padding: 0;
}
#loading-bar {
  height: 100%;
  background-color: #856fd7;
  width: 0%;
}
